body{
    background-image: url("DARK.jpg");
    background-repeat: repeat;
    background-size: cover;
}
hr{
    border: 1px solid white;
}   
div.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  
div.jumbotron{
    background-image: url("travel.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
}

