
body{
    background-image: url("DARK.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

div.jumbotron{
    background-image: url("ehh.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
}
div.carousel{
    border-image-width:100%;
}
hr{
    border: 1px solid white;
}
div.container{
    border-image-repeat: space;
    background-color: black;
}
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}

