

body{
    background-image: url("DARK.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.jumbotron{
    background-image: url("ehh.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
}
div.carousel{
    border-image-width:200;
}
hr{
    border: 1px solid white;
}